/* UNIVERSAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
body {
    overscroll-behavior: none;
    /*height: 100vh;*/
    overflow-x: hidden;
    overflow-y: scroll;
}
.container {
    overscroll-behavior: none;
    width: 250%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* PANEL */
.panel {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    color: white;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
}
.one {
    background-image: url(./images/Bouquet\ of\ Flowers\ in\ a\ Vase.jpg);
    background-size: cover;
}
.two {
    background-image: url(./images/Irises.jpg);
    background-size: cover;
}
.three {
    background-image: url(./images/Self-Portrait\ with\ a\ Straw\ Hat.jpg);
    background-size: cover;
}
  
.four {
    background-image: url(./images/Fishing\ in\ Spring\,\ the\ Pont\ de\ Clichy.jpg);
    background-size: cover;
}
.five {
    background-image: url(./images/The\ Drinkers.jpg);
    background-size: cover;
}
.six {
    background-image: url(./images/Grapes\,\ Lemons\,\ Pears\,\ and\ Apples.jpg);
    background-size: cover;
}
.seven {
    background-image: url(./images/Shoes.jpg);
    background-size: cover;
}
.eight {
    background-image: url(./images/Oleanders.jpg);
    background-size: cover;
}
.nine {
    background-image: url(./images/The\ Bedroom.jpg);
    background-size: cover;
}
.ten {
    background-image: url(./images/Cypresses.jpg);
    background-size: cover;
}